<form [formGroup]="tableBookForm">
  <div class="inputik">
    <fieldset>
      <legend>ADD TITLE</legend>
      <ul type="none">
        <li>
          <label for="name"
            >Name book:
            <input class="ng-invalid ng-touched" type="text" name="name" placeholder="Enter book title:" required formControlName="nameBook"/>
          </label>
        </li>
        <li>
          <label for="author"
            >Author book:
            <input class="ng-invalid ng-touched" type="text" name="author" formControlName="authorBook" placeholder="Enter author of the book:" required/>
          </label>
        </li>
        <span>
          <button type="submit" class="button" [disabled]="_nameBook.invalid || _authorBook.invalid" (click)="submit()">
            Enter
          </button>
        </span>
      </ul>
			<div class="errors addValue">
				<span *ngIf="_nameBook.invalid && (_nameBook.touched || _nameBook.dirty)">Field "Name Book" is required</span>	
				<span *ngIf="_authorBook.invalid && (_authorBook.touched || _authorBook.dirty)">Field "Author of the Book" is required</span>	
			</div>
			<div class="search">
				<label for="search"
					> Search by ......
					<input type="text" name="search" placeholder="Enter name" #query (keyup)="filter(query.value)"   formControlName="searchStr">
				</label>
			</div>
    </fieldset>
  </div>

  <table *ngIf="pageOfItems.length !== 0">
    <caption>
    </caption>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Editing</th>
    </tr>
		<tr *ngFor="let val of pageOfItems; let i = index">
      <td>{{ val.value.nameBook }}</td>
      <td>{{ val.value.authorBook }}</td>
      <td>
        <button (click)="openModal('custom-modal-1', val)">Edit</button>
        <button (click)="remove(val, i)">Delete</button>
      </td>
		</tr>
	</table>	
	<p class= "errors emptyTable" *ngIf="pageOfItems.length === 0">По данному фильтру не удалось найти книгу</p>
</form>

<app-pagination [pager]="changeTableService.pagerr" (initValue)="onCheckArray($event)" (checkChanges)="onCheckChanges($event)" (changePage)="onChangePage($event)"></app-pagination>

<jw-modal (modalFormGroup) = "onModalFormGroup($event)" id = "custom-modal-1"></jw-modal>
