<form [formGroup]="tableBookForm" name="myForm">
  <div class="inputik">
    <fieldset>
      <legend>ADD TITLE</legend>
      <ul type="none">
        <li>
          <label for="name"
            >Name book:
            <input
              class="book ng-invalid ng-touched"
              type="text"
              name="name"
              placeholder="Введите название книги:"
              required
              formControlName="nameBook"
            />
          </label>
        </li>
        <li>
          <label for="author"
            >Author book:
            <input
              class="authorBook ng-invalid ng-touched"
              type="text"
              name="author"
              formControlName="authorBook"
              placeholder="Введите автора книги:"
              required
            />
          </label>
        </li>
        <span>
          <button
            type="submit"
            class="button"
            [disabled]="f.nameBook.invalid || f.authorBook.invalid"
            (click)="submit()"
          >
            Enter
          </button>
        </span>
      </ul>
      <div
        *ngIf="
          (f.nameBook.valid || f.nameBook.untouched) &&
          (f.authorBook.valid || f.authorBook.untouched)
        "
      >
        Invalid input
      </div>
    </fieldset>
  </div>

  <table>
    <caption>
      Book table
    </caption>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Editing</th>
    </tr>
    <tr *ngFor="let val of pageOfItems; let i = index">
      <td>{{ val.value.nameBook }}</td>
      <td>{{ val.value.authorBook }}</td>
      <td>
        <button (click)="openModal('custom-modal-1', val)">Edit</button>
        <button (click)="remove(val, i)">Delete</button>
      </td>
    </tr>
  </table>

  <jw-modal id="custom-modal-1">
    <h1>Data change</h1>
    <p>
      Change title book name:
      <input
        class="nameBook ng-invalid ng-touched"
        type="text"
				name="name"
        formControlName="nameBook"
				value = "changeValueNameBook"				
        required
      />
    </p>
    <p>
      Changing the author of the book:
      <input
        class="authorBook ng-invalid ng-touched"
        type="text"
				name="author"
				value = "changeValueAuthorBook"
        formControlName="authorBook"
        required
      />
    </p>
		<button (click)="closeModal('custom-modal-1')">Close</button>
		<button
		type="submit"
		[disabled]="f.nameBook.invalid || f.authorBook.invalid"
		(click)="saveChange()"
		(click)="closeModal('custom-modal-1')"
	>
		Enter
		</button>
  </jw-modal>
</form>

<app-pagination
  [pager]="pagination.pager"
  (pagerChange)="onPager($event)"
  (initValue)="onCheckArray($event)"
  (checkChanges)="onCheckChanges($event)"
  (changePage)="onChangePage($event)"
></app-pagination>
