<!-- (ngSubmit)= "submit()" -->
<form [formGroup]="modalForm" class="jw-modal-form">
  <div class="jw-modal">
    <div class="jw-modal-body">
      <h1>Data change</h1>
      <p>
        Change title book name:
        <input
          class="ng-invalid ng-touched"
          type="text"
          name="name"
          formControlName="modalNameBook"
          required
        />
      </p>
      <p>
        Change the author of the book:
        <input
          class="ng-invalid ng-touched"
          type="text"
          formControlName="modalAuthorBook"
          name="author"
          required
        />
      </p>
      <button
        type="submit"
        (click)="closeModal()"
				[disabled]="_modalNameBook.invalid || _modalAuthorBook.invalid"
      >
        Enter
      </button>
      <button (click)="closeModal()">Close</button>
    </div>
  </div>
  <div class="jw-modal-background"></div>
</form>
