<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
  <li
    *ngIf="this.page !== this.pager.startPage"
    [ngClass]="{ disabled: pager.currentPage === 1 }"
    class="page-item first-item"
  >
    <a (click)="firstPage(1)">First</a>
  </li>
  <li
    *ngIf="this.page !== this.pager.startPage"
    [ngClass]="{ disabled: pager.currentPage === 1 }"
    class="page-item previous-item"
  >
    <a (click)="previousPage()">Previous</a>
  </li>
  <li
    *ngFor="let page of pager.pages"
    [ngClass]="{ active: pager.currentPage === page }"
    class="page-item number-item"
  >
    <a (click)="setPage(page)">{{ page }}</a>
  </li>
  <li
    [ngClass]="{
      disabled: pager.currentPage === pager.totalPages
    }"
    *ngIf="pager.totalPages !== this.page"
    class="page-item next-item"
  >
    <a (click)="nextPage()">Next</a>
  </li>
  <li
    [ngClass]="{
      disabled: pager.currentPage === pager.totalPages
    }"
    *ngIf="pager.totalPages !== this.page"
    class="page-item last-item"
  >
    <a (click)="lastPage()">Last</a>
  </li>
</ul>
